---
layout: default
---

<h1 class="postTitle">{{ page.name }}</h1>\

<h6>{{ page.author }}</h6>

<p><br><br><br></p>

<h4><u>Description:</u></h4>


{{ content }}

<h3>Posts</h3>
<div class="posts noList">
    <ul>
        {%- assign filtered_posts = site.posts | where: 'category', page.category -%}
        {%- for post in filtered_posts -%}
            <li><article>
                <h4>
                    <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
                </h4>
            </article></li>
        {%- endfor -%}
    </ul>
</div>